<% @articles.each do |article| %>
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"><%= article.title %></h4>
    <p class="list-group-item-text"><%= article.short_text %></p>
  </a>
</div>
<% end %>
